.page{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 50px auto;
    .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px 30px 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        width: 500px;
        h1{
            text-align: center;
            margin-bottom: 20px;
        }
        .input-space {
          margin-bottom: 20px;
          position: relative;
          input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 16px;
            transition: border-color 0.3s;
            color: #333;
            font-family: inherit;
            &::placeholder {
              color: #aaa;
            }
      
            &:focus {
              outline: none;
              border-color: #164E3E;
            }
          }
          .icon{
            position: absolute;
            right: 15px;
            bottom: 30px;
          
          }
        }
      
        .button {
          width: 40%;
          padding: 12px;
          margin: 0 auto;
          display: block;
          background-color: #164E3E;
          color: #fff;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s;
          font-family: inherit;
          &:hover {
            background-color: #124034;
          }
        }
        .show-password{
            position: absolute;
            border: none;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 60px;
            background-color: transparent;
            cursor: pointer;
        }
      }
      
}