.not-found-page{
    height: 39.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-size: 5rem;
        font-weight: 600;
        color: #333;
    }
    p{
        font-size: 2rem;
        font-weight: 600;
        color: #333;
    }
}