.container {
  width: 100%;
  margin: 30px auto;
  background: linear-gradient(180deg, #e8f8e6cb 0%, #f3f8e652 50%, #ffffff);
  padding: 10px 0;
  .subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 65%;
    gap: 30px;
    .left-img {
      height: 450px;
      width: 300px;
      overflow: hidden;
      margin-bottom: 21px;
      border-radius: 4px;
      box-shadow: rgba(38, 77, 58, 0.562) 0px 20px 30px -10px;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        object-fit: cover;
        transition: transform 0.75s;
        &:hover {
          transform: scale(1.07);
        }
      }
    }
    .bottom {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      min-width: 200px;
      width: 600px;
      .card-infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0 0 30px 0;
        h2 {
          display: flex;
          font-size: 2.7rem;
          margin-bottom: 20px;
          color: #31584a;
        }
        .days {
          font-size: 1rem;
          margin-bottom: 20px;
        }
        .details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 30px 40px 0 0;
          padding-right: 30%;
          flex-wrap: wrap;
          gap: 10px;
          .group-size {
            .size-title {
              font-size: 1.5rem;
            }
            .size-value {
              font-size: 1rem;
              font-weight: 200;
              margin: 0;
            }
          }
          .reviews {
            .review-title {
              font-size: 1.5rem;
            }
            .stars {
              font-weight: 200;
            }
          }

          .heart-button {
            background-color: #ffffff86;
            border-radius: 50%;
            border: 1px solid #31584a;
            display: flex;
            align-items: center;
            height: 42px;
            .heart {
              padding: 6px;
              cursor: pointer;
              color: white;
              color: rgba(0, 0, 0, 0.384);
              border-radius: 50%;
              &:hover {
                color: #164e3e;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              }
              transition: color 0.3s ease;
            }
          }
          .heart-button-active {
            border: 1px solid #007e2aa2;
            .heart {
              background-color: #00ca43a2;
              color: white;
              transition: background-color 0.3s ease;
              &:hover {
                color: white;
              }
            }
          }
          .heart-button-loading {
            border: 1px solid rgba(0, 128, 0, 0.1);
            border-top: 1px solid #00ca43a2;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            transition: border 0.3s ease;
          }

          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
      .bottom-imgs {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 20px 0 -4px 0;
        flex-wrap: wrap;
        gap: 30px;
        .bottom-img {
          height: 175px;
          overflow: hidden;
          box-shadow: rgba(38, 77, 58, 0.562) 0px 20px 30px -10px;
          img {
            width: 150px;
            height: 100%;
            transition: transform 0.75s;
            object-fit: cover;
            border-radius: 4px;

            cursor: pointer;
            &:hover {
              transform: scale(1.07);
            }
          }
        }
      }
    }
    .desc {
      font-size: 1.5rem;
      font-weight: 200;
      margin: 40px 0 20px 0;
      width: 100%;
      text-align: center;
    }
  }
  .reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    max-width: 700px;
    margin: 0 auto;
    .inputs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .row {
        margin: 0 40px;
        width: 100%;
        .box {
          display: flex;
          flex-direction: column;
          margin: 30px 0;
          .location,
          .person,
          .name-surname,
          .email {
            width: 100%;
            min-width: 225px;
            height: 34px;
            line-height: 28px;
            padding: 0 1rem;
            border: 1px solid rgb(170, 170, 170);
            border-radius: 5px;
            outline: none;
            background-color: #f7f7f7c2;
            color: #0d0c22;
            transition: 0.3s ease;
            &::placeholder {
              color: #9e9ea7;
            }
            &:focus,
            &:hover {
              outline: none;
              border-color: #164e3e;
              background-color: #fff;
              box-shadow: 0 0 0 1px #164e3e6e;
            }
          }
          .button-box {
            display: flex;
            .radio-button {
              margin: 0px 10px 10px 0;
              cursor: pointer;
            }
            p {
              margin: 0px 10px 10px 0;
            }
          }
          .date {
            .rs-picker-toggle,
            .rs-btn,
            .rs-btn-default {
              border-radius: 5px;
              border: 1px solid rgb(170, 170, 170);
              transition: 0.3s ease;
              &:hover,
              &:focus {
                border-color: #164e3e;
                box-shadow: 0 0 0 1px #164e3e6e;
              }
            }
          }
        }
      }
    }
    .button {
      button {
        color: white;
        border: none;
        border-radius: 10px;
        padding: 7px 60px;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: 1px solid #31584a;
        background-color: #31584a;
        &:hover {
          background-color: #f7f7f7;
          color: #31584a;
        }
      }
    }
  }
  .no-login {
    text-align: center;
    margin-top: 40px;
    .no-login-title {
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.5px;
      .login {
        cursor: pointer;
        color: #1f976b;
        &:hover {
          color: #31584a;
          transition: color 0.3s ease;
        }
      }
    }
  }
}
