.navbar-container{
    width: 60%;
    margin: 0 auto;
    .navbar{
        min-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        .logo {
            cursor: pointer;
        }
        .links{
            width: 60%;
            display: flex;
            justify-content: flex-end;
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                list-style: none;
                cursor: pointer;
                margin: 0 20px;
                border-bottom: 1px solid transparent;
                transition: border 0.3s ease;
                white-space: nowrap;
                font-size: .9rem;
                i{
                    margin: 6px 0 0 5px;
                    font-size: 13px;
                }
                &:hover{
                    border-bottom: 1px solid black;
                }
        }
    }
    .input-box{
        position: relative;
        width: 30%;
        &:hover{
            opacity: 0.75;
            transition: all 0.3s ease;
        }
        input{
            padding: 10px;
            border: 1px solid black;
            border-radius: 15px;
            outline: none;
            width: 100%;
        }
        button{
            position: absolute;
            right: 3%;
            top: 22%;
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
            font-size: 20px;
        }
    }
    }
}
@media screen and (max-width: 1300px) {
    // mobile navbar
    
}
