.navbar-container {
    width: 60%;
    margin: 5px auto;

    .notification {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #164E3E;
        color: #fff;
        padding: 10px;
        border-radius: 6px;
        display: block;
        z-index: 999;
        animation: fadeOut 4s forwards;
        
        @keyframes fadeOut {
          0% {
            opacity: 0;
          }  
          20% {
            opacity: 1;
          }
          50% {
            opacity: 1;
          }
          100% {
              opacity: 0;
              visibility: hidden;
          }
        }
    }
    .navbar {
        min-width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        .logo {
            cursor: pointer;
        }

        .links {
            width: 60%;
            display: flex;
            justify-content: flex-end;
            li, .li {
                display: flex;
                align-items: center;
                list-style: none;
                cursor: pointer;
                margin: 0 20px;
                border-bottom: 1px solid transparent;
                transition: border 0.3s ease;
                white-space: nowrap;
                font-size: 0.9rem;
                text-decoration: none;
                &:visited {
                    color: black;
                }
                .dropdown-content {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    top: 65px;
                    background-color: rgb(255, 255, 255); 
                    box-shadow: rgba(0, 0, 0, 0.199) 0px 5px 15px;
                    border-radius: 10px; 
                    width: 17%;
                    height: 10%;
                    .dropdown-link{
                        text-decoration: none;
                        color: black;
                        font-size: 1rem;
                        border-bottom: 1px solid transparent;
                        margin: 0 10px;
                        &:hover {
                            color: #164E3E;
                            border-bottom: 1px solid black;
                            transition: all 0.3s ease;
                        }
                    }
                }

                i {
                    margin: 6px 0 0 5px;
                    font-size: 13px;
                }

                &:hover {
                    color: black;
                    border-bottom: 1px solid black;
                }
                
            }
        }

        .input-box {
            position: relative;
            width: 60%;
            &:hover {
                opacity: 0.75;
                transition: all 0.3s ease;
            }

            input {
                padding: 10px;
                border: 1px solid black;
                border-radius: 15px;
                outline: none;
                width: 100%;
            }

            button {
                position: absolute;
                right: 3%;
                top: 22%;
                border: none;
                background: none;
                outline: none;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
        .navbar-container {
            width: 100%;
        }
    
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;
            .links {
                flex-direction: column;
                align-items: center;
                justify-content: space-between !important;
                margin: 10px 0;
                li, .li {
                    padding: 6px !important;
                    border-bottom: none;
                    font-size: 1.3rem !important;
                    .dropdown-content {
                        top: 35px; 
                        width: 100%;
                        flex-direction: column;
                        z-index: 3;
                        .dropdown-link {
                            margin: 5px 0;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
    